html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    color: #333;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 1em;
}

.header > .title {
    padding-left: 12px;
    border-left: 7.416px solid #333;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: .2em;
}

.header > .subtitle {
    color: #888;
}

.control, .info {
    margin-top: .5em;
}

.log_out {
    min-height: 15em;
    max-height: 15em;
    background-color: #eee;
    overflow: scroll;
    margin-top: .25em;
    margin-bottom: .25em;

}

.mono, input[type=text] {
    font-family: 'Courier New', Courier, monospace;
}

.hide {
    display: none;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box {
    margin-top: .8em;
    margin-right: 1em;
}

@media(max-width: 1024px) {
    .boxes {
        flex-wrap: wrap;
    }

    .box {
        margin-right: 0;

    }
}

.controlbox, .infobox {
    max-width: 768px;
}

.resource {
    margin-top: .5em;
}

.boxtitle {
    border-left: 4px solid #333;
    padding-left: .5em;
}

.infotitle {
    border-left: 2px solid #333;
    padding-left: .5em;
    font-size: 1.1em;
    margin-bottom: .25em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: .5em;
}

th, td {
    text-align: left;
    padding: 4px;
}

th {
    border-bottom: 2px solid #333;
}

.panel {
    margin-top: .25em;
}

.option {
    margin-bottom: .25em;
}

.option_descr {
    font-size: .9em;
    color: #888;
}

label {
    margin-right: .25em;
}

input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0px;
    border: .5px solid #ccc;
    border-radius: 1px;
}

#querybtn, #jumpbtn {
    width: 100%;
    background-color: #eee;
    border: .5px solid #333;
    padding: 10px;
    font-size: .8em;
    margin: 6px 0;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

#querybtn:hover:not([disabled]), #jumpbtn:hover {
    background-color: #ddd;
}

#querybtn[disabled] {
    color: #888;
    cursor: default;
}

#show_console:checked ~ #console {
    display: block;
}

#console {
    display: none;
}

.irr_valid {
    background-color: #bfd;
}